* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

.projects {
  margin: 1rem;
  width: 60%;
  background-color: whitesmoke;
  border: 1px solid #ff0062;
}

.projects h2 {
  text-align: center;
  padding: 1rem;
  margin-top: 0;
  color: white;
  text-transform: capitalize;
  font-size: 1.7rem;
  background-color: #ff0062;
}
.projects:last-child {
  border: 1px solid #0043ff;
}
.projects:last-child h2 {
  background-color: #0043ff;
}

#active-projects-list,
#finished-projects-list {
  width: 100%;
  background-color: whitesmoke;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
}

.projects li h2 {
  color: #ff0062;
  margin: 0.5rem 0;
}

#finished-projects li h2 {
  color: #0044ff;
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #ffe3ee;
}

#finished-projects .droppable {
  background: #d6e1ff;
}

#user-input {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ff1d56;
  background-color: #f6f6f6;
  width: 60%;
}

#user-input label {
  font-weight: 700;
  font-size: 1.1rem;
}

#user-input input,
#user-input textarea {
  width: 70%;
  font-size: 1.1rem;
  border: 1px solid lightgrey;
}

#user-input button {
  outline: none;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  background-color: #ff1d56;
  border: none;
}
